@charset "utf-8";

@font-face{
  font-family: 'Open Sans'; /*fonte baixada do google fontes e instalada no computador*/
  src: url('../fontes/OpenSans-VariableFont_wdth,wght.ttf') format('truetype'); /*truetype quando é em formato ttf*/
}

*{ /*TIRA ESPACOS*/
  margin: 0px;
  padding: 0px;
}

#cabecalho{
  font-family: 'arial-bold', sans-serif;
  font-weight: bold;
}

/* ------------------formatação do MENU CABEÇALHO------------------ */
#cabecalho ul{
  font-family: 'Arial';
  font-size: 16px;
  font-weight: bold;
  height: 42px;
  background: rgb(243, 243, 243);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 12px;
}

#cabecalho li{
  display: inline-block; /*posso alterar largura e altura*/
  padding-right: 10px;
  padding-top: 9px;
}

#cabecalho a{
  text-decoration: none;
}

/*------------------MENU PRINCIPAL-----------------*/
.mySidenav{
  font-size: 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:white; /*cor do menu aberto*/
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  font-family: Arial;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181; /*cor das letras do menu*/
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#menu {
  font-family: 'Open Sans';
  transition: margin-left .5s;
  padding: 16px;
  height:42px;
  background-color:#C4170C;
  color: white; 
}   /*-----------------fim da formatacao do menu principal-------------------*/

main{
  margin: auto;
  padding-top: 40px;
  padding-left: auto;
  padding-right: auto;
  text-align: left;
}

#anuncio{
  margin-left: 179px;
  padding-left: 9px;
}

main #noticia1{
  display: block;
  float: left;
  border: 1px solid #EEEEEE;
  font-family: 'Open Sans';
  width: 585px;
  padding-top: 200px;  
  height: 390px;
  margin-top: 20px;
  margin-left: 70px;
  line-height: 44px; /*altura entre uma linha e outra*/
  letter-spacing: -1.8px; /*espaco entre as letras*/
  border-radius: 4px;
}
main #noticia1 p{
  font-size: 40px;
  color: #C4170C;
  font-weight: bold;
  padding-left: 25px;
}
main #noticia1 a{
  text-decoration: none;
}

main #olaf{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.3px;
  list-style: none;
  color: #555555;
  padding-top: 25px;
  padding-left: 25px;
}

main #noticia2{
  display: block;
  float: right;
  border: 1px solid #EEEEEE;
  font-family: 'Open Sans';
  font-size: 32px;
  font-weight: bold;
  margin-right: 70px; 
  height: 287px;
  margin-top: 20px;
  width: 590px;
  padding-left: 20px;
  background-image: url('../imagens/foto');
  background-size: 620px 550px; /*tamanhos horizontal e vertical da imagem*/
  border-radius: 4px;
}
main #noticia2 a{
  text-decoration: none;
}
main #noticia2 p{
  padding-top: 130px;
  line-height: 35.2px;
  letter-spacing: -1.3px;
  color: white;
}

main #noticia3 {
  display: block;
  float: right;
  border: 1px solid #EEEEEE;
  font-family: 'Open Sans';
  font-size: 32px;
  font-weight: bold;
  margin-right: 70px; 
  height: 286px;
  margin-top: 15px;
  width: 590px;
  padding-left: 20px;
  border-radius: 4px;
  background-image: url('../imagens/elize2.jpg');
}
main #noticia3 p{
  padding-top: 40px;
  color: white;
}
main #justica{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.3px;
  list-style: none;
  color: #555555;
  font-weight: lighter;
}

main #noticia3 a{
  text-decoration: none; 
}

main #maquininha{
  margin-left: 170px;
}
main #maquininha img{
  margin-top: 30px;
  margin-bottom: 30px;
}

main aside p{
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: bold;
  color: #A6130A;
  font-weight: -0.8px;
  line-height: 26.4px;
}

main #destaques{    /*------- div de destaques -------*/
  border: 1px solid red;
  height: 230px;
  width: 800px;
  margin-left: 70px;
}
 
main #eleiçoes{
  font-family: 'Open Sans';
  font-size: 16px;
  color: #333333;
  float: right;
  margin-right: 370px;
}

main #coibir{
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: bold;
  position: relative;  
  bottom: 175px;
  margin-left: 370px;  
  line-height: 26.4px; /*altura entre uma linha e outra*/
  letter-spacing: -0.8px; /*espaco entre as letras*/
}
main #coibir a{
  color: #A6130A;
  text-decoration: none;
}

main #encontro{
  font-family: 'Open Sans';
  font-size: 16px;
  color: #555555;
  position: relative;
  margin-left: 375px;
  bottom: 160px;
}

main #separar{
  width: 800px;
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 30px;
}             /*------- div de destaques -------*/

footer{   /*----------inicio do rodape----------*/
  display: block;
  background-color: #3C49B2;
  font-family: 'Open Sans';
  color: white;
  height: 110px;
  clear: both;
}

#rodape{
  vertical-align: initial;
}

#g1{
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-left: 17px;
  padding-top: 11px;
}

#ultimas{
  font-family: 'Open Sans';
  font-size: 14px;
  padding-left: 70px;
  margin-top: -20px;
}

#lista-rodape{
  display: block;
}

#lista-rodape ul{
  float: right;
  padding-right: 10px;
}

#lista-rodape li{
  display: inline-block;
  font-size: 12px;
  font-family: 'Open Sans';
  margin-top: 35px;
  border-right: solid rgba(255, 255, 255, 0.342) 1px;
  padding-right: 4px;
}

#copy{
  font-size: 12px;
  font-family: 'Open Sans';
  margin-top: 35px;
  margin-left: 17px;
}     /*----------fim do rodape----------*/

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}